.navigation{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

.navigation02{
    position: absolute;
    top: 0;
    left: 200;
    width: 200px;
}

.floating-box {
    float: left;
    width: 40%;
    height: 250px;
    margin: 1%;
    
}

.ul-li-box{
    float: left;
    width: 15%;
    height: 250px;
    margin: 5%;
}

.after-box {
    clear: left;
}